# Praktikum 3

## Aufgabe 2: Preprocessing, Training and, Evaluation

In [1]:
import numpy as np
import pandas as pd

### Einlesen

In [2]:
df = pd.read_csv('Praktikum3_Datensatz.csv')

In [3]:
df.head()

,grundstuecksgroesse,stadt,hausgroesse,kriminalitaetsindex,baujahr,klasse
0,266,Grossviertel,294,Mittel,1952,A
1,172,Grossviertel,249,Niedrig,1982,B
2,186,Mittelstadt,254,Niedrig,1969,B
3,140,Grossviertel,180,Hoch,1990,B
4,256,Mittelstadt,103,Niedrig,1996,A

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   grundstuecksgroesse  2000 non-null   int64
 1   stadt                2000 non-null   object
 2   hausgroesse          2000 non-null   int64
 3   kriminalitaetsindex  2000 non-null   object
 4   baujahr              2000 non-null   int64
 5   klasse               2000 non-null   object
dtypes: int64(3), object(3)
memory usage: 93.9+ KB

In [5]:
#df['stadt'].value_counts()
#df['kriminalitaetsindex'].value_counts()
df['klasse'].value_counts()

B    1044
A     956
Name: klasse, dtype: int64

### Train/Test Split

In [6]:
from sklearn.model_selection import train_test_split
X = df.drop("klasse", axis=1)
y = df["klasse"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Reset the indices
X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)

In [7]:
df.head()

,grundstuecksgroesse,stadt,hausgroesse,kriminalitaetsindex,baujahr,klasse
0,266,Grossviertel,294,Mittel,1952,A
1,172,Grossviertel,249,Niedrig,1982,B
2,186,Mittelstadt,254,Niedrig,1969,B
3,140,Grossviertel,180,Hoch,1990,B
4,256,Mittelstadt,103,Niedrig,1996,A

In [8]:
X_test.head()

   grundstuecksgroesse         stadt  hausgroesse kriminalitaetsindex  baujahr
0                  229   Kleinhausen          272                Hoch     1961
1                  287  Grossviertel          242              Mittel     1952
2                  118   Kleinhausen          220             Niedrig     1993
3                  257   Kleinhausen          123             Niedrig     1957
4                  195   Mittelstadt          118                Hoch     1999

In [9]:
X_train.head()

   grundstuecksgroesse        stadt  hausgroesse kriminalitaetsindex  baujahr
0                  126  Kleinhausen          169             Niedrig     1959
1                  280  Mittelstadt          299                Hoch     1991
2                  172  Kleinhausen          239              Mittel     1998
3                  255  Kleinhausen          106             Niedrig     1985
4                  202  Kleinhausen          143              Mittel     1998

In [10]:
y_train.value_counts()

B    836
A    764
Name: klasse, dtype: int64

In [11]:
y_test.value_counts()

B    208
A    192
Name: klasse, dtype: int64

### Preprocessing

In [12]:
continuous_data = ["grundstuecksgroesse", "hausgroesse", "baujahr"]
discrete_data = ["stadt", "kriminalitaetsindex"]

In [13]:
from sklearn.preprocessing import StandardScaler
# Standardize continuous features
scaler = StandardScaler()

X_train[continuous_data] = scaler.fit_transform(X_train[continuous_data])
#X_test[continuous_data] = scaler.fit_transform(X_test[continuous_data])

In [14]:
X_train[discrete_data] = X_train[discrete_data].astype('category')
#X_test[discrete_data] = X_train[discrete_data].astype('category')

X_train["krimi_new"] = X_train["kriminalitaetsindex"].cat.codes
X_train["stadt_new"] = X_train["stadt"].cat.codes

#X_test["krimi_new"] = X_test["kriminalitaetsindex"].cat.codes
#X_test["stadt_new"] = X_test["stadt"].cat.codes

In [15]:
X_test.head()

   grundstuecksgroesse         stadt  hausgroesse kriminalitaetsindex  baujahr
0                  229   Kleinhausen          272                Hoch     1961
1                  287  Grossviertel          242              Mittel     1952
2                  118   Kleinhausen          220             Niedrig     1993
3                  257   Kleinhausen          123             Niedrig     1957
4                  195   Mittelstadt          118                Hoch     1999

In [16]:
#Discrete
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()


X_train_encoded = pd.DataFrame(enc.fit_transform(X_train[discrete_data]).toarray()) 

#X_test_encoded = pd.DataFrame(enc.fit_transform(X_test[discrete_data]).toarray()) 

#X_train[discrete_data] = enc.fit_transform(X_train[discrete_data])
#X_test_encoded[discrete_data] = enc.transform(X_test[discrete_data])

In [17]:
X_train_encoded.head()

     0    1    2    3    4    5
0  0.0  1.0  0.0  0.0  0.0  1.0
1  0.0  0.0  1.0  1.0  0.0  0.0
2  0.0  1.0  0.0  0.0  1.0  0.0
3  0.0  1.0  0.0  0.0  0.0  1.0
4  0.0  1.0  0.0  0.0  1.0  0.0

In [18]:
X_train.head()

,grundstuecksgroesse,stadt,hausgroesse,kriminalitaetsindex,baujahr,krimi_new,stadt_new
0,-0.658145,Kleinhausen,-0.497998,Niedrig,-1.091639,2,1
1,1.514131,Mittelstadt,1.744072,Hoch,1.094543,0,2
2,-0.009283,Kleinhausen,0.709270,Mittel,1.572770,1,1
3,1.161489,Kleinhausen,-1.584540,Niedrig,0.684633,2,1
4,0.413887,Kleinhausen,-0.946413,Mittel,1.572770,1,1

In [19]:
any_nan = y_test.isnull().values.any()

if any_nan:
    print("DataFrame contains NaN values")
else:
    print("DataFrame doesn't contain NaN values")

DataFrame doesn't contain NaN values

In [20]:
X_train.info()
#X_train_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   grundstuecksgroesse  1600 non-null   float64
 1   stadt                1600 non-null   category
 2   hausgroesse          1600 non-null   float64
 3   kriminalitaetsindex  1600 non-null   category
 4   baujahr              1600 non-null   float64
 5   krimi_new            1600 non-null   int8
 6   stadt_new            1600 non-null   int8
dtypes: category(2), float64(3), int8(2)
memory usage: 44.1 KB

In [21]:
X_train_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1600 non-null   float64
 1   1       1600 non-null   float64
 2   2       1600 non-null   float64
 3   3       1600 non-null   float64
 4   4       1600 non-null   float64
 5   5       1600 non-null   float64
dtypes: float64(6)
memory usage: 75.1 KB

In [22]:
X_train = pd.concat([X_train.drop(columns=discrete_data), X_train_encoded], axis=1)
#X_test = pd.concat([X_test.drop(columns=discrete_data), X_test_encoded], axis=1)

In [23]:
X_train.head()

,grundstuecksgroesse,hausgroesse,baujahr,krimi_new,stadt_new,0,1,2,3,4,5
0,-0.658145,-0.497998,-1.091639,2,1,0.0,1.0,0.0,0.0,0.0,1.0
1,1.514131,1.744072,1.094543,0,2,0.0,0.0,1.0,1.0,0.0,0.0
2,-0.009283,0.709270,1.572770,1,1,0.0,1.0,0.0,0.0,1.0,0.0
3,1.161489,-1.584540,0.684633,2,1,0.0,1.0,0.0,0.0,0.0,1.0
4,0.413887,-0.946413,1.572770,1,1,0.0,1.0,0.0,0.0,1.0,0.0

In [24]:
X_test.head()

   grundstuecksgroesse         stadt  hausgroesse kriminalitaetsindex  baujahr
0                  229   Kleinhausen          272                Hoch     1961
1                  287  Grossviertel          242              Mittel     1952
2                  118   Kleinhausen          220             Niedrig     1993
3                  257   Kleinhausen          123             Niedrig     1957
4                  195   Mittelstadt          118                Hoch     1999

In [25]:
y_train.value_counts()

B    836
A    764
Name: klasse, dtype: int64

In [26]:
y_train = y_train.map({"A": 0, "B": 1})

In [27]:
y_train.value_counts()

1    836
0    764
Name: klasse, dtype: int64

In [28]:
y_test.value_counts()

B    208
A    192
Name: klasse, dtype: int64

In [29]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [30]:
any_nan = X_train.isnull().values.any()

if any_nan:
    print("DataFrame contains NaN values")
else:
    print("DataFrame doesn't contain NaN values")

DataFrame doesn't contain NaN values

In [31]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   grundstuecksgroesse  1600 non-null   float64
 1   hausgroesse          1600 non-null   float64
 2   baujahr              1600 non-null   float64
 3   krimi_new            1600 non-null   int8
 4   stadt_new            1600 non-null   int8
 5   0                    1600 non-null   float64
 6   1                    1600 non-null   float64
 7   2                    1600 non-null   float64
 8   3                    1600 non-null   float64
 9   4                    1600 non-null   float64
 10  5                    1600 non-null   float64
dtypes: float64(9), int8(2)
memory usage: 115.8 KB

In [32]:
X_train.max()

grundstuecksgroesse    1.782139
hausgroesse            1.744072
baujahr                1.641088
krimi_new              2.000000
stadt_new              2.000000
0                      1.000000
1                      1.000000
2                      1.000000
3                      1.000000
4                      1.000000
5                      1.000000
dtype: float64

In [33]:
X_train.min()

grundstuecksgroesse   -1.730177
hausgroesse           -1.688021
baujahr               -1.706503
krimi_new              0.000000
stadt_new              0.000000
0                      0.000000
1                      0.000000
2                      0.000000
3                      0.000000
4                      0.000000
5                      0.000000
dtype: float64

In [34]:
y_train.value_counts()

1    836
0    764
Name: klasse, dtype: int64

In [35]:
#Standarize the Data
y_test = y_test.map({"A": 0, "B": 1})
X_test[continuous_data] = scaler.fit_transform(X_test[continuous_data])

In [36]:
y_test.value_counts()

1    208
0    192
Name: klasse, dtype: int64

In [37]:
#Encode the data
X_test[discrete_data] = X_test[discrete_data].astype('category')
X_test["krimi_new"] = X_test["kriminalitaetsindex"].cat.codes
X_test["stadt_new"] = X_test["stadt"].cat.codes

X_test_encoded = pd.DataFrame(enc.fit_transform(X_test[discrete_data]).toarray()) 
X_test = pd.concat([X_test.drop(columns=discrete_data), X_test_encoded], axis=1)

In [38]:
X_test.head()

,grundstuecksgroesse,hausgroesse,baujahr,krimi_new,stadt_new,0,1,2,3,4,5
0,0.672506,1.291181,-0.922316,0,1,0.0,1.0,0.0,1.0,0.0,0.0
1,1.469713,0.765045,-1.548086,1,0,1.0,0.0,0.0,0.0,1.0,0.0
2,-0.853183,0.379212,1.302645,2,1,0.0,1.0,0.0,0.0,0.0,1.0
3,1.057364,-1.321960,-1.200436,2,1,0.0,1.0,0.0,0.0,0.0,1.0
4,0.205178,-1.409649,1.719826,0,2,0.0,0.0,1.0,1.0,0.0,0.0

In [39]:
y_test.head()

1860    1
353     1
1333    1
905     0
1289    1
Name: klasse, dtype: int64

In [40]:
any_nan = y_test.isnull().values.any()

if any_nan:
    print("DataFrame contains NaN values")
else:
    print("DataFrame doesn't contain NaN values")

DataFrame doesn't contain NaN values

In [41]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

y_pred = model.predict(X_test)

In [42]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")

Accuracy: 0.6625
Precision: 0.6636771300448431
Recall: 0.7115384615384616